/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
}
img, table ,tr ,td  {
    border: none;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Common CSS Declarations*/
body {}
h1 {}
h2 {}
h3 {}
p {}
a {}
a:hover {}


/*WEB-SITE COMPONENTS*/

/*Common Components*/
.button {}

/*Wrapper*/
.wrapper {
    width: 1280px;
    margin: 0 auto;
}

/*Header*/
header{}

/*Top navigation*/
.topnav {}

/*Page Body*/
.middle {}

/*Main slider*/
ul.main-slider {}
ul.main-slider li {}
.main-title {}
.main-desciprtion {}

/*Branded*/
ul.branded {}
ul.branded li {}
.branded-descirption {}

/*Featured Section*/
.featured-title {}
.featured-items {}
.featured-item {}
.item-description {}
.item-price {}

/*Footer*/
footer {}
.links-block {}
.footer-column {}
ul.column {}
ul.column li {}

.copyright {}