@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
}
img, table ,tr ,td  {
    border: none;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Common CSS Declarations*/
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue-webfont.ttf");
}
body {
    font: normal 19px "Bebas Neue";
    color: #fff;
}
h1 {}
h2 {}
h3 {}
p {}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    opacity: 0.8;
}


/*WEB-SITE COMPONENTS*/

/*Common Components*/
.button {
    background: #3cc395;
    padding: 7px 16px;
    border-radius: 5px;
}

/*Header*/
header {
    width: 100%;
}
.thead {
    margin: 0 auto;
    max-width: 1280px;
    padding: 21px 150px 18px;
    overflow: hidden;
    box-sizing: border-box;
}
.logo {
    margin: 0 170px 0 0;
    float: left;
}
input[type=search] {
    outline: none;
    width: 436px;
    height: 33px;
    border: 1px solid #e1e1e1;
}
.search-container {
    display: inline-block;
    position: relative;
    margin: 5px 154px 0 0;
}
.search-container:after {
    content: " ";
    position: absolute;
    background: url("../images/search-icon.png") no-repeat top center;
    width: 22px;
    height: 22px;
    right: 8px;
    top: 5px;
}
.cart {
    margin: 3px 0 0 0;
    float: right;
    position: relative;
    font-size: 33px;
    color: #a1a1a1;
}
.cart:before {
    content: " ";
    background: url("../images/carret.png") no-repeat top center;
    width: 41px;
    height: 37px;
    position: absolute;
    left: -57px;
}

/*Top navigation*/
.topnav {
    width: 100%;
    background: #4ccfc1;
    color: #fff;
    font-size: 21px;
    overflow: hidden;
    position: relative;
    z-index: 20;
    box-shadow: 0 3px 20px -10px #000000;
}
.topnav ul {
    max-width: 1280px;
    margin: 0 auto;
    padding: 7px 0 9px 149px;
    box-sizing: border-box;
    overflow: hidden;
}
.topnav ul li {
    display: inline-block;
    float: left;
}
.topnav ul li:after {
    content: "|";
    margin: 0 17px;
}
.topnav ul li:last-child:after {
    display: none;
}

/*Page Body*/
.middle {
    clear: both;
}

/*Main slider*/
.slider-wrapper {
    background: url("../images/background.png") repeat;
    width: 100%;
    overflow: hidden;
}
.main-slider-container {
    padding: 65px 0 60px 205px;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}
ul.main-slider {
    float: left;
    width: 100%;
}
.main-slider-description {
    display: inline-block;
}
ul.main-slider li {
    float: left;
    width: 100%;
}
ul.main-slider li img{
    float: left;
    margin: 0 100px 0 0;
    height: inherit;
}
.main-title {
    font-size: 61px;
    line-height: 55px;
    margin: 10px 0 24px 0;
}
.main-desciprtion {
    font: normal 17px/29px "Open Sans", sans-serif;
    margin: 0 0 36px 0;
}
.main-button {
    display: inline-block;
    font-size: 27px;
    border: 3px solid #fff;
    padding: 6px 25px;
    border-radius: 10px;
}

/*Branded*/
.branded {
    clear: both;
    width: 100%;
    float: left;
    font-size: 27px;
    line-height: 26px;
}
.branded-container {
    padding: 0 0 0 152px;
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
ul.ins-branded {
    /*margin: 0 auto;*/
    overflow: hidden;
}
ul.ins-branded li {
    display: inline-block;
    float: left;
    position: relative;
}
ul.ins-branded li:after {
    content: " ";
    display: inline-block;
    background: url("../images/branded-devider.png") no-repeat top center;
    width: 1px;
    height: 190px;
    margin: 0 0 0 67px;
}
ul.ins-branded li:last-child:after {
    display: none;
}
ul.ins-branded li img {
    margin: 22px 0 19px 0;
    float: left;
    height: inherit;
}
.branded-info {
    float: left;
    margin: 28px 0 0 0;
}
.branded-descirption {
    margin: 22px 0 20px 0;
    color: #a1a1a1;
}
.branded .button {
    font-size: 19px;
}

/*Featured Section*/
.featured-title {
    clear: both;
    height: 100px;
    background: green;
}
.featured-items {}
.featured-item {}
.item-description {}
.item-price {}

/*Footer*/
footer {}
.links-block {}
.footer-column {}
ul.column {}
ul.column li {}

.copyright {}