@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
}
img, table ,tr ,td  {
    border: none;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Common CSS Declarations*/
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue-webfont.ttf");
}
body {
    font: normal 19px "Bebas Neue";
    color: #fff;
}
h1 {}
h2 {}
h3 {}
p {}
a {
    text-decoration: none;
    color: inherit;
}
a:hover, a .logo:hover {
    opacity: 0.8;
}


/*WEB-SITE COMPONENTS*/

/*Common Components*/
.button {
    background: #3cc395;
    padding: 7px 16px;
    border-radius: 5px;
    display: inline-block;
}

/*Header*/
header {
    width: 100%;
}
.thead {
    margin: 0 auto;
    max-width: 980px;
    padding: 21px 0 18px;
    overflow: hidden;
    box-sizing: border-box;
}
.logo {
    margin: 0 170px 0 0;
    float: left;
}
input[type=search] {
    outline: none;
    width: 436px;
    height: 33px;
    border: 1px solid #e1e1e1;
    transition: box-shadow 0.3s;
    color: #595959;
    font-size: 18px;
    padding: 0 35px 0 5px;
}
input[type=search]:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 0 2px #3cc3b5;
    animation: anim-shadow 0.3s forwards;
}
input[type=search]:focus ~ .search-icon {
    background: url("../images/search_h.png") no-repeat top center;
}
::-webkit-input-placeholder {
    font-style: italic;
    font-size: 17px;
}
:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
    font-size: 17px;
}
::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
    font-size: 17px;
}
:-ms-input-placeholder {
    font-style: italic;
    font-size: 17px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
.search-container {
    display: inline-block;
    position: relative;
    margin: 5px 0 0 0;
}
.search-icon {
    content: " ";
    position: absolute;
    background: url("../images/search-icon.png") no-repeat top center;
    width: 22px;
    height: 22px;
    right: 10px;
    top: 5px;
}
.cart {
    margin: 3px 0 0 0;
    float: right;
    position: relative;
    font-size: 33px;
    color: #a1a1a1;
}
.cart:before {
    content: " ";
    background: url("../images/carret.png") no-repeat top center;
    width: 41px;
    height: 37px;
    position: absolute;
    left: -57px;
}

/*Top navigation*/
.nav-wrapper {
    width: 100%;
    background: #4ccfc1;
    padding: 7px 0 9px 7px;
    box-shadow: 0 3px 20px -10px #000000;
    position: relative;
    z-index: 0;
}
.okayNav {
    margin: 0 auto !important;
    width: 987px;
    color: #fff;
    font-size: 21px;
    overflow: hidden;
    position: relative;
    z-index: 20;
}
.okayNav ul {
    margin: 0 auto;
    overflow: hidden;
}
.okayNav ul li {
    display: inline-block;
    float: left;
}
.okayNav ul li:after {
    content: "|";
    margin: 0 17px;
}
.okayNav ul li:last-child:after {
    display: none;
}

/*Page Body*/
.middle {
    clear: both;
}

/*Main slider*/
.slider-wrapper {
    background: url("../images/background.png") repeat;
    width: 100%;
    overflow: hidden;
}
.main-slider-container {
    padding: 65px 0 0 115px;
    max-width: 980px;
    margin: 0 auto;
    overflow: hidden;
    z-index: -10;
    /*position: relative;*/
}
ul.main-slider {
    float: left;
    width: 100%;
}
.main-slider-description {
    float: left;
}
ul.main-slider li {
    float: left;
    width: 100%;
}
ul.main-slider li img{
    float: left;
    margin: 0 100px 0 0;
}
.main-title {
    font-size: 61px;
    line-height: 55px;
    margin: 10px 0 24px 0;
    max-width: 500px;
}
.main-desciprtion {
    font: normal 17px/29px "Open Sans", sans-serif;
    margin: 0 0 36px 0;
    max-width: 500px;
}
.main-button {
    display: inline-block;
    font-size: 27px;
    border: 3px solid #fff;
    padding: 6px 25px;
    border-radius: 10px;
}

/*Branded*/
.branded {
    width: 100%;
    float: left;
    font-size: 27px;
    line-height: 26px;
}
.branded-container {
    max-width: 980px;
    margin: 0 auto;
    width: 100%;
}
ul.ins-branded {
    overflow: hidden;
}
ul.ins-branded li {
    display: inline-block;
    float: left;
    position: relative;
}
ul.ins-branded li:after {
    content: " ";
    position: absolute;
    background: url("../images/devider.png") repeat-y right;
    width: 1px;
    height: 100%;
    margin: 0 0 0 27px;
}
ul.ins-branded li:nth-child(3n):after {
    display: none;
}
ul.ins-branded li img {
    margin: 22px 10px 19px 0;
    float: left;
    height: inherit;
    max-width: 217px !important;
}
.branded-info {
    float: left;
    margin: 28px 0 0 0;
}
.branded-descirption {
    margin: 22px 0 20px 0;
    color: #a1a1a1;
    max-width: 85px;
}
.branded .button {
    font-size: 19px;
    margin: 0 0 30px 0;
}

/*Featured Section*/
.featured-title {
    clear: both;
    width: 100%;
    background: url("../images/background.png") repeat;
    box-shadow:inset 0 16px 20px -20px #3B3B3B;
}
.featured-title-wrapper {
    margin: 0 auto;
    font-size: 31px;
    text-transform: uppercase;
    padding: 19px 0 16px 70px;
    max-width: 980px;
}
.featured-items {
    width: 100%;
    overflow: hidden;
    font-size: 27px;
}
.featured-items-wrapper {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 0 0 79px;
    overflow: hidden;
}
.featured-item {
    color: #afafaf;
    border: 1px solid #e4e4e4;
    display: inline-block;
    margin: 48px 53px 0 0;
    float: left;
    width: 255px;
    min-height: 261px;
    border-bottom: 5px solid #3cc395;
    box-shadow: 0 0 1px 0 #9C9C9C;
    padding: 0 17px;
    box-sizing: border-box;
}
.featured-item:nth-child(4n) {
    clear: left;
}
.featured-item img {
    display: block;
    margin: 21px auto;
    height: 126px;
}
.item-description {
    text-align: center;
}
.item-price {
    display: inline-block;
    margin: 13px 0 0 0;
    float: right;
}
.featured .button {
    display: inline-block;
    color: #fff;
    font-size: 21px;
    padding: 6px 10px;
    margin: 10px 37px 14px 11px;
    float: right;
}

/*Footer*/
footer {
    clear: both;
    background: #3cc3b5;
    width: 100%;
}
.footer-wrapper {
    margin: 73px auto 0;
    max-width: 980px;
    padding: 32px 0 31px 72px;
}
.links-block {

}
.footer-column {}
ul.column {
    display: inline-block;
    margin: 0 104px 0 0;
}
ul.column:last-child {
    margin-right: 0;
}
ul.column li {
    font: normal 15px/29px "Open Sans", sans-serif;
}
ul.column li:last-child {
}
ul.column li:first-child {
    text-transform: uppercase;
    font: normal 27px/40px "Bebas Neue", sans-serif;
    margin: 0 0 7px 0;
}

.copyright {
    font: normal 15px "Open Sans", sans-serif;
    width: 100%;
    background: #2da89b;
    text-align: center;
    padding: 12px 0;
}
.copyright a {
    text-decoration: underline;
}


/*Slider overwriting*/
.bx-wrapper .bx-prev {
    left: -92px;
    background: url("../images/bxslider/left.png") no-repeat top center;
    width: 29px !important;
    height: 88px !important;
    margin-top: -44px !important;
}
.bx-wrapper .bx-next {
    right: -82px;
    background: url("../images/bxslider/right.png") no-repeat top center;
    width: 29px !important;
    height: 88px !important;
    margin-top: -44px !important;
}
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-prev:hover {
    opacity: 1;
    background-position: 0 0;
}
.branded .bx-viewport {
    height: auto !important;
}


/*Responsive web-design*/
@media screen and (max-width:1025px) {
    .logo {
        margin: 0 13% 0 2%;
    }
    .cart {
        margin: 0 2% 0 0;
    }
    .search-container {
        width: 45%;
    }
    input[type="search"] {
        width: 100%;
    }

    .okayNav ul {
        margin-left: 1%;
    }
}

@media screen and (max-width:755px) {
    .search-container {
        display: none;
    }
}




/* okayNav styles */
body.okayNav-loaded {
    overflow-x: hidden;
}
.okayNav:not(.loaded) {
    visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.okayNav ul {
    /* We want two navigations - one hidden and one visible */
    float: left;
}
.okayNav a {
    /* Links general styling */
    /*color: #2e2e33;*/
    /*font-size: 1.4rem;*/
    /*font-weight: bold;*/
    /*position: relative;*/
    /*z-index: 1;*/
}
.okayNav__nav--visible {
    overflow: hidden;
    white-space: nowrap;
}
.okayNav__nav--visible li {
    display: inline-block;
}
.okayNav__nav--visible a {
    /* Link styling for the visible part of the nav */
    /*display: block;*/
    transition: color 200ms cubic-bezier(0.55, 0, 0.1, 1);
    /*padding: 15px 15px;*/
}
.okayNav__nav--visible a:hover {
    /*color: #546edb;*/
}







/* Link styling for the off-screen part of the nav */
.okayNav__nav--invisible {
    position: fixed;
    top: 122px;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: #fff;
}
.okayNav__nav--invisible li {
    /*display: block !important;*/
    clear: both !important;
    height: 10px;
    z-index: 10;
}
.okayNav__nav--invisible a {
    background: red;
    /*width: 240px;*/
    display: block !important;
    padding: 15px;
    height: 500px;
}
.okayNav__nav--invisible.nav-left {
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.okayNav__nav--invisible.nav-right {
    right: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.okayNav__nav--invisible.transition-enabled {
    transition: -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
}
.okayNav__nav--invisible.nav-open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}



/* Kebab icon */
.okayNav__menu-toggle {
    position: relative;
    transition: -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
    cursor: pointer;
    width: 40px;
    height: 20px;
    float: left;
    z-index: 1;
    top: 2px;
    left: 10px;
}
.okayNav__menu-toggle.okay-invisible {
    position: absolute;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
.okayNav__menu-toggle span {
    display: block;
    position: absolute;
    margin: auto;
    height: 4px;
    width: 4px;
    background: #fff;
    border-radius: 50%;
    left: 0;
    right: 0;
    pointer-events: none;
}
.okayNav__menu-toggle span:nth-child(1) {
    top: 0;
}
.okayNav__menu-toggle span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.okayNav__menu-toggle span:nth-child(3) {
    bottom: 0;
}
.okayNav__menu-toggle.icon--active {
    /* Kebab icon when off-screen nav is open */
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.okayNav__menu-toggle.icon--active span {
    background: #546edb;
}